<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block pagetitle %}{% endblock %} - Directorio de webs</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
	<link rel="stylesheet" href="{% static "css/jquery.tagsinput.css" %}">
	<link rel="stylesheet" href="{% static "css/jquery-ui-1.11.4.min.css" %}">
	<link rel="stylesheet" href="{% static "css/stickyfooter.css" %}">
	<link rel="stylesheet" href="{% static "css/directorio.css" %}">
	<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery-ui.1.11.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.tagsinput.js" %}"></script>

	<script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>

	<div class="page-header">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Directorio de webs</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Inicio</a></li>
					<li><a href="/directorio">Directorio</a></li>
					<li><a href="/directorio/nuevo">Añadir al directorio</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-user"></span> {{user.username}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
						</ul>
					</li>
				{% else %}
					<li><a href="/registro"><span class="glyphicon glyphicon-pencil"></span> Registrarse</a></li>
					<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
				{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	</div>
	
	<div class="container">
		{% block pageheader %}{% endblock %}
		{% block pagebody %}{% endblock %}
	</div>
	
	<footer>
		<div class="container">
			<p>&copy; 2015; Amodeo Zurbano, Fernando; Bosch G&oacute;mez, Alberto; And&uacute;jar Luque, Jos&eacute; Antonio</p>
		</div>
	</footer>
</body>
</html>
