{% extends 'base.html' %}
{% block pagetitle %}Añadir web al directorio{% endblock %}
{% block pageheader %} 
	<h1>Nueva web</h1>
{% endblock %}
{% block pagebody %}
	<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
	
		{{formulario.as_p}}
		<div>
		<button id ="recomendacion" data-catid="{{category.id}}" class="btn btn-mini btn-primary" type="button">Añadir categorías recomendadas</button>
		</div>
		<p><input type='submit' value='Añadir'/></p>
	</form>
{% endblock %}