{% extends 'base.html' %} 
{% comment %} Aqui van comentarios {% endcomment %} 
{% block pagetitle %} {{webpage.titulo}} {% endblock %} 
{% block pageheader %}
<h1>{{webpage.titulo}}</h1> {% endblock %} 
{% block pagebody %}
{% load bootstrap3 %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{webpage.titulo}}</h3>
	</div>
	<div class="panel-body">
	<table><tr><td>
		<div class="crop">
			<img width="200" alt="Embedded Image" src="data:image/png;base64,{{captura}}" />
		</div></td><td>
		<div class="descripcion">
		<p><a href="{{webpage.enlace}}">{{webpage.enlace}}</a></p>
		<p>{{webpage.descripcion}}</p>
		</div></td></tr>
	</table>
	</div>
	<div class="panel-footer">
		{% for elemento in categolist %}
		<span class="label label-success">{{elemento.categoria.nombre}} <span class="badge">{{elemento.puntuacion}}</span></span>
		{% endfor %}
		{% if user.is_authenticated %}
		<a class="btn btn-xs btn-primary" role="button" href="/directorio/{{pk}}/etiquetas">{% bootstrap_icon "hand-up" %} Votar</a>
		{% endif %}
	</div>
</div>

<p>Webs relacionadas:</p>
<ul>
{% for elemento in related %}
<li><a href="/directorio/{{elemento.1.pk}}/">{{elemento.1.titulo}}</a> (similitud= {{elemento.0}})</li>
{% endfor %}
</ul>

{% endblock %}